body {
background-size: contain;
background-position: center;
}
.App {
  text-align: center;
}

.container {
  box-sizing: border-box;
  margin: 20px auto;
  width: 70%;
  border: 2px solid rgb(30, 31, 30);
  border-radius: 5px;
  padding: 10px;
  background-color: lightblue;
  background-image: url('../public/background.avif');
}

h1 {
  font-style: bold;
	color:#16175e;
}

.form{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form label {
  width: 20%;
  margin-right: 20px;
  text-align: right;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: bold;
  font-size: larger;
}

.form input {
  font-style: italic;
  width: 60%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

button {
  background-color: #45a049;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 4px;
}

button:hover {
  background-color:blue;
}

.pass {
  color: #053a07;
}

.fail {
  color: red;
}

.below-35 {
  color: rgb(206, 36, 7);
}

.studentTable {
	width: 95%;
	border-collapse: collapse;
	margin: 20px;
	table-layout: fixed;
}

.studentTable thead th {
	background-color: #afb653;
	color:black;
	padding: 12px 8px;
	text-align: center;
	border: 1px solid black;
}

.studentTable tbody td {
	border: 1px solid #726a6a;
	padding: 8px;
	text-align: center;
}

.studentTable tr:hover {
	background-color: #f1f1f1;
}

button {
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	background-color: #4CAF50;
	color: white;
	font-size: 14px;
	border-radius: 4px;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
	background-color: #4e4949;
	color:black;
}

button:not(:disabled) {
	background-color: #4CAF50;
}

button:hover:not(:disabled) {
	background-color: #45a049;
}
